.container{
  border: dashed;
  background-color: white;
}
h1 {
    color: red;
}

.scroll{
  overflow: auto;
  height: 300px;

}
.size{
    /* border: solid; */
}
.outline{
  border: solid;
}
.messages{

  border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    /* padding: 10px;
    margin: 10px 0; */
}
