<div class = "row main-container-text">
  <div class = "col-md-10">  Instabook</div>
  <div class="col-md-2 btn-group" role="group">
    <button type="button" class="btn btn-secondary" routerLink = "/login">Login</button>
    <button type="button" class="btn btn-secondary" routerLink = "/register">Register</button>
  </div>
</div>

<div class= "background" >
  <div class = "content">
    <div class = "row">
      <div class = "form-group col-md-4 offset-md-4">
        <h2>Registration</h2>
      </div>
    </div>
    <div class = "row">
      <div class = "form-group col-md-4 offset-md-4">
        <label for="username">Username:</label>
        <input  type="text" class="form-control" id="username" name="username"  (keyup) = "registrationInputForFullName($event)" required>
      </div>
    </div>
    <div class = "row">
      <div class = "form-group col-md-4 offset-md-4">
        <label for="useremail">Email*:</label>
        <input type="text" class="form-control" id="useremail" name="useremail" (keyup) = "registrationInputForEmail($event)" required>
      </div>
    </div>

    <div class = "row">
      <div class = "form-group col-md-4 offset-md-4">
        <label for="userpassword">Password*:</label>
        <input type="Password" class="form-control" id="userpassword" name="userpassword" (keyup) = "registrationInputForPassword($event)" required>
      </div>
    </div>
    <div class = "row">
      <div class = "form-group col-md-4 offset-md-4">
        <label for="userconfirmpassword">Confirm Password*:</label>
        <input type="Password" class="form-control" id="userconfirmpassword" name="userconfirmpassword" required>
      </div>
    </div>
    <div class = "row">
      <div class = "form-group col-md-4 offset-md-4">
        <label >Date of Birth*</label>
          <input [ngModel]="dateOfBirth | date:'yyyy-MM-dd'" (ngModelChange)="dateOfBirth = $event" type="date" name="dob"/>
      </div>
    </div>
    <div class = "row">
      <div class = "form-group col-md-4 offset-md-4">
        <label >Upload Profile Picture*</label>
        <input type="file" name="profilePic" accept="image/*" (change) = "onImageUpload($event)" required>
      </div>
    </div>
    <div class = "row">
      <div class = "form-group col-md-4 offset-md-4">
        <div id="user_submit">
          <button type="submit" class="btn btn-success" [disabled]= "" (click) = "validateRegistration()">Validate</button>
          <strong><p id="msg" style="color:#ffff00"></p></strong>
          <strong><p id="msg1" style="color:#ffff00"></p></strong>
        </div>
      </div>
    </div>
  </div>
</div>
