/* .background{
  background-image: url("r4.jpg");
}
.form{
  border: 2px;
}
.content{
  padding: 100px;

  color: white;
}
.row{
  color: white;
} */



.background{
  color:white;
  background: url("backgrnd.png") no-repeat center center #000;

     }
.form{
  border: 2px;
}
.content{
  padding: 100px;

  color: white;
}
.row{
  color: white;
}
.main-container-text{
  background-image: url("10.png");
  color: #FDFDFD;
  font-family: 'Courier New';
  font-size: 40px;
  height: 100px;
  font-weight: 600;
  text-align: left;
  padding: 20px;
}

.footer {
    background-color: #333;
    padding: 15px;
    font-size: 80%;
}

.footer-nav {
    list-style: none;
    float: left;
}
.footer-nav li {
    display: inline-block;
    margin-right: 20px;
    font-size: 20px;
}
.footer-nav li a:link,
.footer-nav li a:visited{
    text-decoration: none;
    border: 0;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #fff;
}
