<div class="row main">
  <div class="col-md-4 offset-md-2 ">
<div  class = "size"  >
  <h3 style = ""><b>{{postTexted}}</b></h3>
  <small>{{date}}</small>
  <button *ngIf="isAdmin" (click)="deleteThisPost()">Delete!</button>

  <div *ngIf="imageFlag">
    <div class="card" style="width: 500px">
    <img class="img-responsive" src={{imgOrVid}}  class="img-thumbnail" width="500" height="500">
    </div>
  </div>
  <div *ngIf="videoFlag" width="500px" height="300px">
    <video  controls id="videoPlayer" width="500px" height="300px">
      <source src="{{videoSource}}" type="video/mp4" width="500px" height="300px"/>
    </video>
  </div>
  <br>
    <button *ngIf="!requestComments" type="button" class="btn btn-primary btn-sm" style="font-size:15px"  (click)="openComments()">Comments <i class="fa fa-comments-o"></i> </button>
    <button *ngIf="requestComments" type="button" class="btn btn-primary btn-sm" style="font-size:15px"  (click)="requestForComments()">Request permission to Comment! <i class="fa fa-comments-o"></i> </button>
    <p *ngIf="serverResponseFlag">{{serverResponse}}</p>
    <div *ngIf = "showCommentsFlag">
      <br>
      <div class = "row col-md-10">
        <input type="text" class="form-control round" id="commentText" name="commentText"   placeholder = " Write a comment..." (keydown.enter)="postNewComment()" [(ngModel)]="newCommentText" >
        <input type="file" class="col-md-3" id="files" class="" name ="commentPic" accept="image/*|video/* " (change) = "onImageUpload($event)">

        <button type="button col-md-1" class="post btn btn-secondary btn-sm" (click)="postNewComment()">Post</button>
      </div>
      <br>
      <app-each-comment-of-posts *ngFor="let eachCommentId of commentIdArray" [eachCommentId]="eachCommentId"></app-each-comment-of-posts>
    </div>
</div>
</div>
</div>
<br/>
