<!-- Default unchecked -->
<!-- Default checked -->
<!-- <div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="public" name="privacy-settings" checked>
  <label class="custom-control-label" for="public">Public</label>
</div> -->
<div class = "col-md-7 offset-md-3">
<div   *ngFor = "let privacy of privacyList">
  <div class = "privacylist">
  <input
  type = "radio"
  name = "privacySettings"
  value = "{{privacy}}"
  (change) = "privacyChangedHandler($event)">
  <span>{{privacy}}</span>
  </div>
</div>
<button (click)="privacyChange()">Post</button>
<p *ngIf="errorFlag">select at least one option or Error With Email</p>
</div>
