<!-- Default unchecked -->
<!-- Default checked -->
<!-- <div class="custom-control custom-radio">
  <input type="radio" class="custom-control-input" id="public" name="privacy-settings" checked>
  <label class="custom-control-label" for="public">Public</label>
</div> -->
<div class = "col-md-6 offset-md-4 priv" >
<div *ngFor = "let privacy of privacyList">
  <div class="privacy">
  <input
    class="list"
  type = "radio"
  name = "privacySettings"
  value = "{{privacy}}"
  (change) = "privacyChangedHandler($event)"
    (click)="clearMessage()">
  <span>{{privacy}}</span>
  </div>
</div>
<button class="btn btn-success" (click)="privacyChange()" >Post</button>
  <p id="msg"></p>
</div>
